<a href="https://colab.research.google.com/github/vivekvardhan30/AIML-LAB/blob/main/Lab_01_AIML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Lab-01: Activity-1: implement basic Data Structures using Numpy,Pandas

Data Visualization

In [ ]:
import matplotlib.pyplot as plt
people=['Ann','Brandon','Chen','David','Eimly']
age=[21,12,32,45,37]
weight=[55,35,77,68,70]
height=[160,135,170,165,173]
plt.scatter(people,height)
plt.show()

Histogram

In [ ]:
import numpy as np
plt.figure(figsize=(7,5))
plt.hist(weight,color='aqua',edgecolor='k',alpha=0.75,bins=5)
plt.title("Histogram of patient weight",fontsize=15)
plt.xlabel("People",fontsize=15)
plt.xticks(fontsize=14)
plt.yticks(fontsize=14)
plt.show()

how to read data from different text book

In [ ]:
import numpy as np
import pandas as pd
import nbconvert
df1_notepad=pd.read_notepad("book.txt")
df1

In [ ]:
import numpy as np
import pandas as pd
import nbconvert
df1_excel=pd.read_excel("Book1.xlsx")
df1

In [ ]:
import numpy as np
import pandas as pd
import nbconvert
df1=pd.read_table("Book_2.csv")
df1

Bar Chart

In [ ]:
plt.figure(figsize=(12,4))
plt.title("People's weight in kgs",fontsize=16,fontstyle='italic')
#plt.bar takes four parameters
plt.bar(x=people,height=weight,width=0.4,color='green',edgecolor='k',alpha=0.6)
plt.xlabel("People",fontsize=15)
plt.xticks(fontsize=14,rotation=30)
plt.yticks(fontsize=14)
plt.ylabel("Weights (in kgs)",fontsize=18)
plt.show()

In [ ]:
import numpy as np
list1=[1,2,3]
array1=np.array(list1)
type(array1)

numpy.ndarray

** Mathematical Operation using Numpy

In [ ]:
list2=[3,2,1]
array2=np.array(list2)
s=list2+array2
print("Addition of two",s)
print(s[0]*s[1])

Addition of two [6 4 2]
24

** mathematical operation using Numpy-2

In [ ]:
list2=[3,2,1]
array2=np.array(list2)
print(f'Power of Two:,{array1**array2}')

Power of Two:,[1 4 3]

** Mathematical Functions in Numpy

In [ ]:
print(f'sin value of array1,{np.sin(array1)}')
print(f'Log2 value of array1,{np.log2(array1)}')
print(f'exponential value of array1,{np.exp(array1)}')

sin value of array1,[0.84147098 0.90929743 0.14112001]
Log2 value of array1,[0.        1.        1.5849625]
exponential value of array1,[ 2.71828183  7.3890561  20.08553692]